*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;/*para cuando el usuario toque un ancla y vaya a la misma página, vaya más suave*/
}
body{
    background-color: #D1DBE6;/*Color de fondo de la página*/
    
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.subtitulos{/*Subtítulos*/
    text-align: left !important;/*alineado a la izquierda con prioridad*/
    color: #1F2732;/*Color de letra*/
    font-size: 3rem;/*tamaño*/
    margin: auto auto auto 3rem;/*márgenes*/
}
.descripciones{
    text-align: left !important;/*alineado a la izquierda con prioridad*/
    color: #1F2732;/*Color de letra*/
    font-size: 1.2rem;/*tamaño*/
    font-weight: 550;/*grosor de la letra*/
    margin: auto auto auto 5rem;/*márgenes*/
}

/*---------------------------------Nav---*/

.navegador{
    margin: 5px;
    padding: 10px;

    background-color: #334659;

    border-radius: 15px;

    z-index: 1000;
    position: sticky;
    top: 0;
    width: 99%;
}

.navegador nav{
    margin: 0;
    padding: 10px;

    background-color: #A9BDD0;

    display: flex;
    align-items: center;

    border-radius: 15px;
}

.navegador nav div{
    margin: 0;
    padding-right: 10px;

    background-color: #A9BDD0;

    display: inline-block;
    display: flex;
    align-items: center;

    border-radius: 5px;
}
.navegador nav div img{
    height: 75px;
    width: auto;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;

    transition: 0.2s;
}
.navegador nav div img:hover{
    transform: scale(1.05);
}
.navegador nav div span{
    font-size: 2rem;

    margin: 10px;

    font-weight: bold;
    color: #1F2732;
}

.navegador nav ul{
    margin-left: auto;
    margin-right: 0;
    padding: 28px 10px;

    background-color: #A9BDD0;

    display: inline-block;
    list-style: none;

    border-radius: 5px;
}
.navegador nav ul li{
    display: inline-block;

    margin: 10px;

    font-size: large;

    transition: 0.2s;
}
.navegador nav ul li:hover{
    transform: translateY(-2px);
}
.navegador nav ul li a{
    text-decoration: none;
    font-weight: 600;
    color: #1F2732;
}
.navegador nav ul li a:hover{
    color:#334659;
}


/*-------------------------------------------------*/

#objetivos div{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
#objetivos h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}
.articulo{
    position: relative;
    text-align: center;
    background-color: #A9BDD0;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 250px;
}
.articulo h3{
    position: relative;
    color: #334659;
    font-size: 35px;
    margin-bottom: 10px;
    z-index: 20;
}
.articulo p{
    position: relative;
    color: #334659;
    font-size: 20px;
    z-index: 20;
}
.articulo i{
    position: absolute;
    color: #7B9AB5;
    font-size: 200px;
    left: 85px;
    top: 30px;
    z-index: 1;
    opacity: 0;
}
.articulo:hover i{
    opacity: 1;
}
/*CURSOS*/
#cursos{/*contenedor de cursos*/
    display: grid;/*uno al lado del otro*/
    align-items: center;/*alineado al centro*/
    justify-content: space-around;/*para que "encuentren" su propio espacio*/
    grid-template-columns: repeat(2, 1fr) !important;/*para que sean dos cursos ariba y dos abajo*/
    gap: 0.5rem;/*espacio entre cada curso*/
}
#cursos article{/*contenido de cada curso*/
    display: flex;
    flex-direction: column !important;/*una arriba de la otra*/
    margin: 1rem 0rem 1rem 1rem;/*margen con respecto a los otros cursos*/
    width: 40rem;/*ancho de cada curso*/
    height: 24rem;/*altura ""  "" "" */
    padding: 1rem;/*espaciado interno*/
    border-radius: 10px;/*borde redondeado*/
    background-size: cover;/*la imagen ocupa todo el contenedor*/
    background-position: center;/*imagen centrada*/
    position: relative;
    box-shadow: 0px 7px 7px 0px #334659;/*sombra del contenedor*/
    transition: 0.3s;/*transicion de la animacion*/
    color: white;/*color de letra blanco*/
}
#cursos article:hover{/*hover de los cursos*/
    box-shadow: 2px 10px 10px 2px #334659;/*sombra mas gruesa*/
    transition: all 0.3s ease-in-out;/*transicion limpia*/
}
#cursos article::before{/*"filtro"*/
    content: "";/*contenido vacio*/
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);/*"filtro" más opaco de cada curso*/
    border-radius: 10px;
}
#cursos article *{
    position: relative;
    z-index: 1;
}
#cuarto{/*cuarto año*/
    background-image: url("imagenes/prueba.webp");/*img de fondo*/
    background-size: cover;/*ocupa todo el contenedor*/
}
#quinto{/*quinto año*/
    background-image: url("imagenes/prueba.webp");/*img de fondo*/
    background-size: cover;/*ocupa todo el contenedor*/
}
#sexto{/*sexto año*/
    background-image: url("imagenes/prueba.webp");/*img de fondo*/
    background-size: cover;/*ocupa todo el contenedor*/
}
#septimo{/*septimo año*/
    background-image: url("imagenes/prueba.webp");/*img de fondo*/
    background-size: cover;/*ocupa todo el contenedor*/
}
.año{/*año de los cursos*/
    font-size: x-large;/*tamaño de letra*/
    font-weight: 1000;/*negrita*/
}
.desc-año{/*descripcion de los cursos*/
    margin-top: auto;/*al fondo del contenedor*/
    margin-bottom: 1rem;/*separado 1 rem de abajo*/
    font-size: medium;/*tamaño medio de letra*/
    font-weight: 700;/*grosor de la letra*/
}
.link-año{
    text-decoration: none;/*sin decoracion*/
    color: white;/*color de letra*/
    transition: 0.5s;/*transicion*/
}
.link-año:hover{
    text-decoration: underline;/*subrayado del anchor*/
    text-decoration-color: rgb(207, 207, 207);/*color del subrayado mas oscuro*/
    color: rgb(207, 207, 207);/*color mas oscuro*/
    transition: all 0.5s ease;/*transicion limpia*/
}
/*HORARIOS*/
#horarios{
    text-align: center;/*alineado al centro*/
}
#horarios article{
    /*posiciones*/
    position: relative;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    /*medidas*/
    height: 250px;
    width: 250px;
    padding: 25px;/*espacio entre el texto y el borde*/
    border-radius: 15px;
    margin: 2rem 2rem;
    /*colores*/
    background-color: #4F7091;
    box-shadow: 5px 5px 10px #1F2732;
    border: 4px solid #2E3C4C;
    /*transicion*/
    transition: 0.3s;
}
#horarios article:hover{
    background-color: #4F7091;
    box-shadow: 2.5px 2.5px 5px #1F2732;
    border: 3px solid #2E3C4C;
    transition: all 0.3s;/*Animación simple para que no sea tan brusco el cambio*/
}
.fa-file, .fa-download{
    /*posiciones*/
    display: inline-block;
    text-align: center;
    padding-top: 0.5rem;
    /*tamaños*/
    font-size: 40px;
    width: 70px;
    height: 70px;
    line-height: 50px;
    border-radius: 50%;
    /*colores*/
    color: #A9BDD0;
    /*transicion*/
    transition: 0.3s;
}
.fa-file:hover, .fa-download:hover{
    color: #7B9AB5;/*color*/
    transition: all 0.3s;/*Animación simple para que no sea tan brusco el cambio*/
    transform: scale(1.1);/*Agranda el logo*/
}
/*FOOTER*/
.contenedor-footer{/*contenedor principal del footer (contiene todo menos el copyright)*/
    display: flex;
    flex-direction: row;/*alineado en fila*/
    align-items: center;/*alineado al centro*/
    justify-content: space-around;/*para que "encuentren" su propio espacio*/
    gap: 5rem;/*espaciado entre los 3 "silos"*/
}
footer{/*Footer en general*/
    background-color: #2E3C4C;/*Color de fondo principal*/
    color: #F5F7FA;/*Color de letra*/
}
footer nav{/*nav del footer (las redes)*/
    display: flex;
    flex-direction: column !important;/*una arriba de la otra*/
    margin: 5rem 3rem 1.5rem 1rem;/*márgenes*/
}
footer div{/*Contenedor de título itlf e imágen*/
    margin: 2rem 5rem 0rem 2rem;/*márgenes*/
}
footer a{/*links del footer*/
    text-decoration: none;/*sin decoracion las anchor*/
}
.info-footer{/*info del footer (nombre, logo, descripcion)*/
    margin: 0.2rem 0.5rem 8rem 3rem;/*márgenes*/
}
.info-footer img{/*logo del info-footer*/
    width: 120px;/*ancho*/
    height: 75px;/*altura*/
    margin: 2rem 5rem 1rem 2rem;/*márgenes*/
}
.info-footer p{/*párrafos del info footer(nombre, y descripcion)*/
    text-align: left !important;/*alineado a la izq, con prioridad*/
}
i{/*iconos*/
    margin: auto auto;/*márgenes*/
    font-size: 40px;/*tamaño*/
    width: 70px;/*ancho*/
    height: 70px;/*altura*/
    line-height: 50px;/*separacion*/
    border-radius: 50%;/*redondeados*/
    color: #A9BDD0;/*color base de los iconos*/
    transition: 0.15s;/*transicion*/
}
i:hover{/*hover de los iconos*/
    color: #7B9AB5;/*color mas oscuro*/
    transition: all 0.15s ease-in-out;/*Animación simple para que no sea tan brusco el cambio*/
    transform: scale(1.05);/*Agranda el logo*/
}
iframe{/*maps*/
    /*tamaño del mapa*/
    width: 20rem;/*ancho*/
    height: 20rem;/*altura*/
    border-radius: 10px;/*bordes redondeados*/
    transition: 0.3s;/*transicion*/
}
iframe:hover{/*hover del mapa*/
    transition: all 0.3s ease-in-out;/*Animación simple para que no sea tan brusco el cambio*/
    transform: scale(1.05);/*Agranda el logo*/
}
footer p{/*Derechos de autor*/
    position: static;/*estatico*/
    text-align: center;/*alineado al centro*/
    opacity: 75%;/*un poquito más transparente*/
}
                /*Perfiles Profesores*/
.profesores{
    text-align: center;
}
.profesores h2{
    text-align: center;
    margin-bottom: 30px;
    transition: 0.3s;
}
.profesores h2:hover{
    transform: scale(1.09);
}
.cont-prof{
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 20px;           /* Separa un perfil del otro */
  align-items: center;
  width: 100%;
}
.perfprof{
    align-items: center;
    padding: 25px;/*espacio entre el texto y el borde*/
    display: flex;
    background-color: #D1DBE6;
    border-radius: 15px;
    width: 450px;         /* Limitás el ancho para que no ocupe toda la pantalla */
    width: 450px;/*Limitás el ancho para que no ocupe toda la pantalla*/
    box-sizing: border-box;
    margin: 20px;
    box-shadow: 0 0px 15px rgba(27, 27, 27, 0.384);
    transition: 0.3s;
    min-height: 285px;
    height: 285px;
}

.perfprof:hover{
    transform: scale(1.06);
}

.fotopro {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.infoprof{
    display: flex;
    flex-direction: column;
    height: 100%;
     margin :10px;
     flex-grow: 1; 
}
.infoprof ul{
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.infoprof li{
    background: #344557ad;
    color: white;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 0.90rem;
    transition: 0.3s;
}
.infoprof li:hover{
    transform: scale(1.05);
}
.infoprof h3{
    margin:10px;
}
.infoprof h4{
    margin-left:10px;
}
.infoprof p{
    margin: 5px 0;
    padding: 0 10px;
}
.infoprof a{
    text-decoration: none;
    margin-top: auto;
    align-self: center; 
    display: inline-block;
    color: #b0c0d4;
    transition: 0.3s;
    padding: 7px;
    background-color: #344557ad;
    border-radius: 5px;
}
.infoprof a:hover{
    font-size: 1.0rem;
    font-weight: bold;
    transform: scale(1.05);
    color: #7b8797;
    background-color:#D1DBE6 ;
}
/* fin peril profesores*/

#intro h1{
    background-color: #7B9AB5;
    width: 1000px;
    height: 90px;
    border-radius: 10px;
    color: #334659;
    font-size: 70px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}
.intro-text{
    padding: auto;
    margin: auto;
    background-color: #A9BDD0;
    width: 590px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
}
#intro p,
#intro a{
    font-weight: bolder;
    font-size: 35px;
    color: #000000;
}
#intro a{
    font-weight: lighter;
    text-decoration: none;
}



/*
PALETA DE COLORES:
| Nivel | Color     | Uso recomendado                             |
| ----: | :-------- | :------------------------------------------ |
|    50 | `#F5F7FA` | Fondo principal de la página                |
|   100 | `#EAEEF4` | Fondos de tarjetas o secciones              |
|   200 | `#D1DBE6` | Bordes suaves, separadores                  |
|   300 | `#A9BDD0` | Bordes más visibles, estados deshabilitados |
|   400 | `#7B9AB5` | Texto secundario, iconos                    |
|   500 | `#5B7AB5` | **Color principal (Primary)**, botones      |
|   600 | `#4F7091` | Hover de botones, enlaces activos           |
|   700 | `#3A516A` | Elementos destacados, encabezados           |
|   800 | `#334659` | Texto principal sobre fondos claros         |
|   900 | `#2E3C4C` | Encabezados importantes                     |
|   950 | `#1F2732` | Fondo oscuro, footer, modo oscuro           |
*/
